<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="css/style.css"> 
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <section id="navbar">
        <nav class="navbar fixed-top navbar-expand-lg bg-white border-bottom p-4">
            <div class="container">
            <img src="images/sumarecon.png" alt="sumarecon" class="img-fluid rounded shadow-ig mt-3" style="width: 200px;">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item me-3">
                    <a class="nav-link active" aria-current="page" href="#" style="color:rgb(254, 0, 25)">Home</a>
                  </li>
                  <li class="nav-item me-3">
                    <a class="nav-link" href="#" style="color:rgb(254, 0, 25)">Blog</a>
                  </li>
                  <li class="nav-item me-3">
                    <a class="nav-link" href="#" style="color:rgb(254, 0, 25)">About</a>
                  </li>
                  <li class="nav-item me-3">
                    <a class="nav-link" href="#" style="color:rgb(254, 0, 25)">Contact</a>
              </div>
            </div>
          </nav>
    </section>
    <div class="container-fluid" style="padding:0px 0px 0px 0px;margin-right:0px;position: relative;">
        <img src="images/landscape.jpg" alt="landscape" class="img-fluid rounded shadow-ig mt-3" >
        <div class="text1" style="position: absolute;width:180px;top:150px;left:40px;color:white">
            <h2 class="display-1     fw-bold mt-8" style="font-family:Arial, Helvetica, sans-serif; size: 30px;">Summarecon Bekasi</h2>
        </div>
    </div>
    <!--Hero-->
    <section id="hero">
    <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="display-3 fw-bold mt-5">Mengenal Summarecon Bekasi</h2>
                        <h4 class="lead text-muted" >Bekasi merupakan salah satu kota yang terdapat di provinsi Jawa Barat, Indonesia. Nama Bekasi berasal dari kata bagasasi yang artinya sama dengan candrabaga yang tertulis di dalam Prasasti Tugu era Kerajaan Tarumanegara, yaitu nama sungai yang melewati kota ini. Pada tahun 2021, jumlah penduduk kota Bekasi berjumlah 2.464.719 jiwa.Kota ini merupakan bagian dari Metropolitan Jabodetabek dan menjadi kota satelit dengan jumlah penduduk terbanyak se-Indonesia. Saat ini Kota Bekasi berkembang menjadi tempat tinggal kaum urban dan sentra industri.</h4>
                    <a href="#" class="btn btn-dark btn-rounded my-3" style="background-color: rgb(237, 27, 27);">Learn More</a>
                </div>
                <div class="col-lg-6">
                    <img src="images/potrait.png" alt="potrait" class="img-fluid rounded shadow-ig mt-3" >
                </div>
            
                
        </div>
    </div>
    </section>
    <section id="perumahan">
        <div class="container-fluid" style="padding:15px 15px 15px 2px;margin-right:15px;position: relative;">
            <img src="images/industrial.png" alt="industrial" class="img-fluid rounded shadow-ig mt-3" >
            <div class="text1" style="position: absolute;width:400px;top: 160px;left:40px;color:white">
                <h3 class="display-5 fw-bold mt-3" style="font-family:Arial, Helvetica, sans-serif;">Summarecon Industrial Furniture </h3><hr/>
                <p class="my-4" style="top:10px;size: 12px;">Hadirnya Summarecon Bekasi yang memiliki konsep pusat komersial dan hunian modern, menjadikannya sebagai kawasan metropolitan maju dan berkelas dengan beragam pilihan perumahan dan juga komersial.Lokasi Summarecon Bekasi sangat strategis karena posisinya yang dekat dengan pusat kota dan kantor pemerintahan kota Bekasi serta masih berdekatan dengan Jakarta. </p>
            </div>
            </div>   
    </section>

    <section id="event">
        <div class="container my-5 py-5">
            <div class="row">
                <div class="col-lg-6 mt-6">
                <div class="card bg-white shodow border-0">
                    <div class="card-body">
                    <a href="#" class="btn btn-primary">
                    </a>
                    <h2 class="display-5 fw-bold mt-5">Mall Summarecon Bekasi</h2>
                    <img src="images/smb.jpg" alt="smb" class="img-fluid rounded shadow-ig mt-3">
                    <p class="my-4">
                        Summarecon Mal Bekasi (SMB) yang dikembangkan dan dikelola oleh PT Summarecon Agung Tbk. (Summarecon), secara resmi dibuka pada hari Jumat, 28 Juni 2013 oleh Walikota Bekasi Bapak Rahmat Effendi dan Komisaris Utama PT Summarecon Agung Tbk. Bapak Soetjipto Nagaria,  yang ditandai dengan penandatangan
                        prasasti dan pengguntingan pita serta kegiatan seremonial lainnya.</p>
                        
                    </div>
                </div>
                </div>
                <div class="col-lg-6 mt-6">
                    <div class="card bg-white shodow border-0">
                        <div class="card-body">
                        <a href="#" class="btn btn-primary">
                        </a>
                        <h2 class="display-5 fw-bold mt-5">Car Free Day</h2>
                        <img src="images/cvd.jpg" alt="cvd" class="img-fluid rounded shadow-ig mt-3">
                        <p class="my-4">
                            Car Free Day di Kota Bekasi digelar bertempat di ruas jalur protokol Jalan Ahmad Yani hingga Bundaran Summarecon berjalan dengan lancar dan ramai.
                            Dibukanya kembali kegiatan Car Free Day di Kota Bekasi ini disambut gembira oleh seluruh warga masyarakat Kota Bekasi dan juga bagi para pedagang UMKM yang siap menjajahkan jualannya di sekitaran area CFD dan melihat dari animo masyarakat yang begitu ramai.
                            Pemerintah Kota Bekasi pun tetap membuka stand-stand pelayanan seperti Vaksinasi Gratis oleh Dinas Kesehatan, pelayanan Adminduk oleh Disdukcapil dan pelayanan pembuatan Kartu Kuning oleh Disnaker.</p>
                            
                        </div>
                    </div>
                    </div>
                
            </div>
        </div>
            
    </section>
    <div class="container-fluid">
    <div class="card bg-white shodow border-0">
    <div class="card-body" style="background-color: rgb(252, 4, 58);">
        <h5 class="fw-bold" style="text-align:center;color: antiquewhite;">Summarecon Fasility</h5> 
    </div> 
    </div>
    </div>
    <section id="tengah">
        <div class="container my-9 py-9">
            <div class="row">
                <div class="col-lg-3 mt-3 ">
                <div class="card-body">
                <center>
                <img src="images/cs.png" alt="cs" class="img-fluid rounded shadow-ig mt-3"style="width:100px;">
                </center>
                <p class="my-4 fw-bold" style="text-align: center ;">
                    Costumer Care Center
                    </p>
                    <hr/ style="color:black black">
                <p class="my-4" style="text-align: center;">
                    Pusat layanan dan informasi serta penukaran poin friendship card untuk pengunjung Summarecon Bekasi.
                    </p>  
                </div>
                </div>
                <div class="col-lg-3 mt-3 ">
                <div class="card-body">
                <center>
                <img src="images/tx.png" alt="tx" class="img-fluid rounded shadow-ig mt-3 "style="display:flex;width:80px;align-items:center;justify-content: space-betwee;">
                </center>
                <p class="my-4 fw-bold" style="text-align: center;">
                    Taxi Queque
                    </p>
                    <hr/ style="color:black black">
                <p class="my-4" style="text-align: center;">
                    Tersedia pul taksi Blue Bird untuk customer.                                                          .</p> 
                </div> 
                </div>
                <div class="col-lg-3 mt-3 ">
                <div class="card-body">
                    <center>
                    <img src="images/bus.png" alt="bus" class="img-fluid rounded shadow-ig mt-3 "style="display:flex;width:110px;align-items:center;justify-content: space-betwee;">
                    </center>
                    <p class="my-4 fw-bold" style="text-align: center;">
                        Shuttle Bus
                        </p>
                        <hr/ style="color:black black">
                    <p class="my-4" style="text-align: center;">
                        Tersedia shuttle bus rute yang mengelilingi kawasan di Summarecon Bekasi.
                        </p>  
                </div>
                </div>
                <div class="col-lg-3 mt-3 ">
                <div class="card-body">
                    <center>
                    <img src="images/masjid.png" alt="masjid" class="img-fluid rounded shadow-ig mt-3 "style="display:flex;width:100px;align-items:center;justify-content: space-betwee;">
                    </center>
                    <p class="my-4 fw-bold" style="text-align: center;">
                        Masjid
                        </p>
                        <hr/ style="color:black black">
                    <p class="my-4" style="text-align: center;">
                        Tersedia masjid untuk beribadah bagi umat muslim.
                        </p>  
                </div>
                </div>
                <div class="col-lg-3 mt-3 ">
                <div class="card-body">
                    <center>
                    <img src="images/carjing.png" alt="carjing" class="img-fluid rounded shadow-ig mt-3" style="display:flex;width:75px;">
                    </center>
                        <p class="my-4 fw-bold" style="text-align: center;">Carging Station</p>
                        <hr/ style="color:black black">
                    <p class="my-4" style="text-align: center;">
                        Summarecon Bekasi menyediakan charging station untuk beraneka ragam jenis smartphone dan mobil listrik .
                        </p>  
                </div>
                </div>
                <div class="col-lg-3 mt-3 ">
                    <div class="card-body">
                        <center>
                        <img src="images/atm.png" alt="atm" class="img-fluid rounded shadow-ig mt-3" style="display:flex;width:68px;">
                        </center>
                        <p class="my-4 fw-bold" style="text-align: center;">Atm Center</p>
                        <hr/ style="color:black black">
                    <p class="my-4" style="text-align: center;">
                        Tersedia layanan perbankan berupa ATM dari beberapa bank..
                        </p>  
                </div>
                </div>
                <div class="col-lg-3 mt-3 ">
                    <div class="card-body">
                        <center>
                        <img src="images/sepeda.png" alt="sepeda" class="img-fluid rounded shadow-ig mt-3" style="display:flex;width:100px;">
                        </center>
                            <p class="my-4 fw-bold" style="text-align: center;">Bike Parking</p>
                            <hr/ style="color:black black">
                        <p class="my-4" style="text-align: center;">
                            Untuk para Bikers disediakan lahan parkir dengan akses yang mudah dan tempat yang cukup luas serta aman..
                            </p>  
                </div>
                </div>
                <div class="col-lg-3 mt-3">
                    <div class="card-body">
                        <center>
                        <img src="images/dsb.png" alt="dsb" class="img-fluid rounded shadow-ig mt-3" style="display:flex;width:60px;">
                        </center>
                            <p class="my-4 fw-bold" style="text-align: center;" >Disable Parking</p>
                    <hr/ style="color:black black">
                        <p class="my-4" style="text-align: center;">
                            Tersedia tempat parkir berkebutuhan khusus yang strategis dan mudah.
                            </p>  
                </div>
                </div>
                </div>   
            </div> 
    </section>


    <section id="botom">
            <div clas="container-fluid">
                <img src="images/ws.png" alt="ws" class="img-fluid rounded shadow-ig mt-3">  
            </div>
    </section>

    <script src="modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>